.wrapper{
  width: 1400px;
  margin: 0 auto;
}
.navbar-brand{
  color:#000;
}
.btn{
  margin:10px;
  cursor:pointer;
}
.nav-link{
  font-size: 20px;
}
.card-img-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container{
  display: flex;
  flex-direction: column;
}
.card-hero{
  color: #fff;
}
.hero{
  color: #fff;
  margin: 0 auto;
  display: flex;
}
.hero-bg{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background: url("../public/assets/bg.jpg");
  height: 100vh;
  width: 100%;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.buttons-category{
  display: flex;
  justify-content: center;
}
.buttons-category .btn{
  width: 20%;
  height: 40px;
}
.col-md-3{
  padding: 15px;
}
.card-image-top{
  height: 250px;
}
.cart-wrapper{
  display: flex;
  justify-content:center;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.footer{
  color: red;
}
.login{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.login__content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  border-radius: 12px;
  padding: 20px;
  height: 350px;
  width: 400px;
  background-color: #fff;
}
.login__content h1{
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 20px;
}
.input__data{
  display:flex;
  flex-direction: column;
}
.login__content input{
  height: 40px;
  margin: 7px;
  border-radius: 5px;
}
.login .btn{
  display:flex;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 300px;
  border:2px solid black;
}
.signup{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__content{
  border-radius: 12px;
  padding: 20px;
  height: 600px;
  width: 400px;
  background-color: #fff;
}
.registration__title {
  font-size: 35px;
  margin-bottom: 20px;
}

.registration {
  margin: 0 auto;
  height: calc(100vh - 343px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 80px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #ddd;
}

.form > input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
}

.btn-registration {
  width: 100%;
  padding: 7px;
  border: 1px solid #ffab02;
}

.btn-registration:hover {
  background-color: #ffab02;
}